Source/SmartHotel360.Registration.Web/Connected Services/Data/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartHotel360.Registration.Wcf.Models" />
  <xs:import schemaLocation="http://localhost:9001/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SmartHotel360.Registration.Wcf.Data" />
  <xs:element name="GetRegistrations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmartHotel360.Registration.Wcf.Models" minOccurs="0" name="GetRegistrationsResult" nillable="true" type="q1:ArrayOfRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodayRegistrations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodayRegistrationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmartHotel360.Registration.Wcf.Models" minOccurs="0" name="GetTodayRegistrationsResult" nillable="true" type="q2:ArrayOfRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodayRegistrationSummary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodayRegistrationSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmartHotel360.Registration.Wcf.Models" minOccurs="0" name="GetTodayRegistrationSummaryResult" nillable="true" type="q3:RegistrationDaySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmartHotel360.Registration.Wcf.Models" minOccurs="0" name="GetCheckinResult" nillable="true" type="q4:Registration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmartHotel360.Registration.Wcf.Models" minOccurs="0" name="GetCheckoutResult" nillable="true" type="q5:Registration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmartHotel360.Registration.Wcf.Data" minOccurs="0" name="booking" nillable="true" type="q6:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>