Source/SmartHotel360.Registration.Web/Connected Services/Data/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartHotel360.Registration.Wcf.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartHotel360.Registration.Wcf.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Passport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
</xs:schema>