Source/SmartHotel360.Registration.Web/Connected Services/Data/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartHotel360.Registration.Wcf.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartHotel360.Registration.Wcf.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRegistration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Registration" nillable="true" type="tns:Registration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistration" nillable="true" type="tns:ArrayOfRegistration" />
  <xs:complexType name="Registration">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Passport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Registration" nillable="true" type="tns:Registration" />
  <xs:complexType name="RegistrationDaySummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckIns" type="xs:int" />
      <xs:element minOccurs="0" name="CheckOuts" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationDaySummary" nillable="true" type="tns:RegistrationDaySummary" />
</xs:schema>